{namespace fed=Tx_Fed_ViewHelpers}

<f:if condition="{galleryCount} > 1">
	<f:link.action action="list"  class="btn pull-right">
		<i class="icon-arrow-left"></i> Zurück zur Übersicht
	</f:link.action>
</f:if>

<h1>
	{gallery.title}
</h1>
<f:format.html>{gallery.description}</f:format.html>
<fed:resource.image path="{gallery.folder}"
  as="images" sortBy="{gallery.sortby}" sortDirection="{gallery.sortdirection}" limit="150" />
<ul class="thumbnails section">
	<f:for each="{images}" as="image" key="iter">
			<li class="span2">
				<a href="<f:uri.image src='{image}' height='900m' />" class="thumbnail fancybox-thumbs" data-fancybox-group="{gallery.uid}">
					<img src="<f:uri.image src='{image}' width='140c' height='140c' />"/>
				</a>
			</li>
	</f:for>
</ul>
<f:if condition="{galleryCount} > 1">
	<f:if condition="{f:count(subject:'{images}')} > 20">
		<f:link.action action="list"  class="btn">
			<i class="icon-arrow-left"></i> Zurück zur Übersicht
		</f:link.action>
	</f:if>
</f:if>
