{namespace fed=Tx_Fed_ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
	<div class="row">
		<f:for each="{galleries}" as="gallery" key="key">
			<div class="span6">
				<f:link.action action="show" arguments="{gallery : gallery}" class="thumbnail">
					<fed:image src="{gallery.folder}/*." divider="" sortBy="filename" sortDirection="DESC" width="140c" height="140c" limit="1" />
				</f:link.action>
				<div class="offset2">
					<h2>
						<f:link.action action="show" arguments="{gallery : gallery}" class="noColor">
							{gallery.title}
						</f:link.action>
					</h2>
					<f:link.action action="show" arguments="{gallery : gallery}" class="noColor">
						<f:format.raw><f:format.crop maxCharacters="170" append="&nbsp;...">{gallery.description}</f:format.crop></f:format.raw>
					</f:link.action>
					<p class="btn-group">
						<f:link.action action="show" arguments="{gallery : gallery}"  class="btn btn">
							Galerie anzeigen <i class="icon-eye-open"></i>
						</f:link.action>
					</p>
				</div>
			</div>
			<f:if condition="{key} % 2">
				</div><!-- start new row -->
				<div class="row">
			</f:if>
		</f:for>
	</div>
</f:section>