{namespace fed=Tx_Fed_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<ul class="thumbnails gallery">
		<f:for each="{galleries}" as="gallery" key="key">
			<li class="span6">
				<f:link.action action="show" arguments="{gallery : gallery}" class="span2 thumbnail">
				{gallery.sortby} {gallery.sortdirection}
					<fed:image src="{gallery.folder}/*." divider="" sortBy="filename" sortDirection="DESC" width="170c" height="170c" limit="1" />
				</f:link.action>
				<div class="offset2">
					<h2>
						<f:link.action action="show" arguments="{gallery : gallery}" class="noColor">
							{gallery.title}
						</f:link.action>
					</h2>
					<f:link.action action="show" arguments="{gallery : gallery}" class="noColor">
						<f:format.raw><f:format.crop maxCharacters="220" append="&nbsp;...">{gallery.description}</f:format.crop></f:format.raw>
					</f:link.action>
					<p class="btn-group">
						<f:link.action action="show" arguments="{gallery : gallery}"  class="btn btn">
							Galerie anzeigen <i class="icon-eye-open"></i>
						</f:link.action>
					</p>
				</div>
			</li>
		</f:for>
	</ul>
</f:section>