html {
	min-height: 100%;
}
.tx-nbogallery  .section {
	margin-bottom: 1em;
}

.tx-nbogallery  a.noColor{
	color: inherit;
}

.tx-nbogallery .noColor:hover{
	color: #444;
	text-decoration: none;
}

.tx-nbogallery .thumbnail{
	width: 140px;
	float:left;
}

.tx-nbogallery .row{
	margin-bottom: 20px;
}
